$color-bg:          #E3E4DD;
$color-surface:     #FFFFFF;
$color-text:        #000000;
$color-gray1:       #333333;

$color-green:      #008412;
$color-green-dark: #006b0f;
$color-green-hover:#00a016;

$color-red:      #CC0000;
$color-red-dark: #AA0000;

$font-sans: sans-serif;
$font-mono: 'JetBrains Mono', monospace;